body {
  margin: 0;
  font-family: 'Public Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar{
  background-color: #BD852B;
}

/* .btn-primary{
  background-color: #BD852B;
  outline-color: #BD852B;
} */

.text-primary a{
  color: #BD852B;
}

.category-active{
  background-color: #BD852B;
  color: white;
}

@media only screen and (max-height: 1000px){
  .hasil {
    height: 680px;
  }
  .menu {
    height: 800px;
  }
}

.overflow-auto::-webkit-scrollbar{
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
